
= simple_form_for @checklist do |f|
  = f.error_notification
  %h4
    Checklist 
    = @checklist.title 
  %br/  

  = f.simple_fields_for :questions do |builder|
    = render 'question_fields', f: builder
        

  .form-actions
    = f.button :submit
    
