.nested-fields
  %b
    Question:
  = f.object.title  
  %br/

  %b
    Description:
  = f.object.description
  %br/
  %br/

  -#%b
    Enter the answer:
  -#= f.input :answer, as: :select, collection: [ 'yes', 'no', 'NA' ], prompt: 'Select Answer', label: false

  -#%b
    Comment:
  -#= f.input :comment, label: false, placeholder: 'Your comment', pattern: ".{12,}", title: "12 characters minimum", type: 'week'

  = f.hidden_field :title
  = f.hidden_field :id
  = f.hidden_field :_destroy  
  
  = f.simple_fields_for :answers do |builder|
    = render 'answer_fields', f: builder  

    
  %br/
    
    
-#%tr.nested-fields
  %td
    = link_to_remove_association "remove", f, class: 'btn btn-primary btn-xs' 

  %td
    = f.input :answer, label: false, required: 'required'
  %td
    = f.input :comment, label: false, required: 'required', pattern: ".{12,}", title: "12 characters minimum"
  
  = f.hidden_field :id
  = f.hidden_field :_destroy    
